.gradle/
.gogradle/
*.log
vendor/
core/proxy
core/go19action/proxy
core/go19action/gobuild
core/goproxy/proxy
openwhisk/_test/exec
openwhisk/_test/hi
openwhisk/_test/hello_greeting
openwhisk/_test/hello_message
openwhisk/_test/*.zip
openwhisk/_test/compile/
openwhisk/action/
openwhisk/compile/
openwhisk/debug.test
