# Mac
.DS_Store

.gradle/
.gogradle/
*.log
vendor/
actionProxyLoop/proxy
golang1.10/proxy
openwhisk/_test/exec
openwhisk/_test/exec.go
openwhisk/_test/hi
openwhisk/_test/hello_greeting
openwhisk/_test/hello_message
openwhisk/_test/*.zip
openwhisk/_test/compile/
openwhisk/_test/output/
openwhisk/action/
openwhisk/compile/
openwhisk/debug.test
