.gradle/
.gogradle/
*.log
vendor/
core/proxy
core/actionloop-golang/proxy
core/actionloop-golang/gobuild
core/actionloop/proxy
openwhisk/_test/exec
openwhisk/_test/hi
openwhisk/_test/hello_greeting
openwhisk/_test/hello_message
openwhisk/_test/*.zip
openwhisk/_test/compile/
openwhisk/_test/output/
openwhisk/action/
openwhisk/compile/
openwhisk/debug.test
